@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("./shared/fonts/Inter-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("./shared/fonts/Inter-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("./shared/fonts/Inter-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("./shared/fonts/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("./shared/fonts/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("./shared/fonts/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("./shared/fonts/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("./shared/fonts/Inter-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("./shared/fonts/Inter-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

:root,
html,
body,
#root {
  height: 100%;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 5%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 5%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 5%;

    --primary-25: 217 93% 95%;
    --primary-50: 216 91% 83%;
    --primary-75: 216 91% 72%;
    --primary-100: 216 91% 61%;
    --primary-200: 216 91% 56%;
    --primary-300: 216 91% 39%;
    --primary: 216 91% 50%;
    --primary-500: 216 92% 28%;
    --primary-600: 216 91% 22%;
    --primary-700: 216 91% 17%;
    --primary-900: 216 93% 11%;
    --primary-foreground: 0 0% 100%;

    --secondary-100: 21 93% 89%;
    --secondary-200: 21 91% 78%;
    --secondary-300: 21 91% 61%;
    --secondary: 21 91% 50%;
    --secondary-500: 21 91% 39%;
    --secondary-600: 21 92% 28%;
    --secondary-foreground: 0 0% 100%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 350 82% 43%;
    --destructive-light: 347 66% 94%;
    --destructive-foreground: 210 20% 98%;

    --success: 152 69% 31%;
    --success-light: 152 70% 89%;
    --success-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 0 0% 5%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    line-height: normal;
    @apply bg-background text-foreground;
  }
}
